<h1>Lista de Alunos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>Celular</th>
      <th>Peso</th>
      <th>Salario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of studentList">
      <td>{{ std.nome | uppercase }}</td>
      <td>{{ std.cpf | cpf : false }}</td>
      <td>
        <p>{{ std.dataNascimento | date : 'short' | lowercase }}</p>
        <p>{{ std.dataNascimento | date : 'medium' }}</p>
        <p>{{ std.dataNascimento | date : 'long' }}</p>
        <p>{{ std.dataNascimento | date : 'full' }}</p>
        <p>{{ std.dataNascimento | date : 'dd-MM-yyyy' }}</p>
        
      </td>
      <td>{{ std.celular | cellphone : 11 }}</td>
      <td>{{ std.peso | number }}</td>
      <td>{{ std.salario | currency}}</td>
    </tr> 
  </tbody>
</table>