<h2>Veículos Cadastrados</h2>

<table *ngIf="cars.length > 0">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Ano Modelo</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{ car.brand }}</td>
            <td>{{ car.modelYear }}</td>
            <td>
                <input type="button" value="Detalhes" (click)="showCarDetail(car.id)">
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="cars.length === 0">
    <p>Nenhum Veículo Cadastrado</p>
</div>


<div *ngIf="selectedCar">
    <app-detail-car [car]="selectedCar"></app-detail-car>
</div>